{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FYP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--移动设备友好-->
    <link rel="stylesheet" type="text/css" href="static/css/HomePage.css">
    <link rel="stylesheet" type="text/css" href="static/css/Header.css">
    <link rel="stylesheet" type="text/css" href="static/css/Articles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/popper.js/2.5.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <style>
        @media (max-width: 577px) {
            .hidden-after {
                display:none;
            }
        }
        @media (min-width: 577px) {
            .hidden-before {
                display:none;
            }
        }
    </style>
  </head>
  <body>
    <!--导航栏-->
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
      <a class="navbar-brand">FYP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <!--导航按钮-->
        <ul class="navbar-nav mr-auto ml-md-4 my-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'photos' %}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'forum' %}">Forum</a>
            </li>
        </ul>
      </div>
    </nav>

    <!--主体-->
    <div class="header">
      <h1>UL Introduction</h1>
    </div>

    <!--轮播-->
    <div id="roll" class="carousel slide" data-ride="carousel">
      <!--指示符-->
      <ul class="carousel-indicators">
        <li data-target="#roll" data-slide-to="0" class="active"></li>
        <li data-target="#roll" data-slide-to="1"></li>
        <li data-target="#roll" data-slide-to="2"></li>
      </ul>
      <!--图片-->
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="img_1"></div>
            <div class="carousel-caption d-block">
              <h4>UL Library</h4>
            </div>
        </div>
        <div class="carousel-item">
            <div id="img_2"></div>
            <div class="carousel-caption d-block">
              <h4>Computer Science Building</h4>
            </div>
        </div>
        <div class="carousel-item">
            <div id="img_3"></div>
            <div class="carousel-caption d-block">
              <h4>Cappavilla Village</h4>
            </div>
        </div>
      </div>
      <!--左右切换按钮-->
      <a class="carousel-control-prev" href="#roll" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#roll" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!--文章-->
    <div class="container category mb-4">
      <h2 id="category">Category</h2>
      <div class="row">
        <div class="col-sm-3 nav flex-column nav-pills mt-sm-4" id="article-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="category-1-tab" data-toggle="pill" href="#category-1" role="tab" aria-controls="category-1" aria-selected="true">Before You Arrive</a>
            <a class="nav-link" id="category-2-tab" data-toggle="pill" href="#category-2" role="tab" aria-controls="category-2" aria-selected="false">After You Arrive</a>
            <a class="nav-link" id="category-3-tab" data-toggle="pill" href="#category-3" role="tab" aria-controls="category-3" aria-selected="false">Life in Ireland</a>
            <a class="nav-link" id="category-4-tab" data-toggle="pill" href="#category-4" role="tab" aria-controls="category-4" aria-selected="false">UL Campus</a>
            <a class="nav-link" id="category-5-tab" data-toggle="pill" href="#category-5" role="tab" aria-controls="category-5" aria-selected="false">About UL</a>
            <br>
            <br>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/Campus_Map.pdf" class="btn btn-outline-success hidden-after" target="_blank">UL Campus Map</a>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/Top%20Tips%20for%20International%20Students.pdf" class="btn btn-outline-success mt-2 hidden-after" target="_blank">Top Tips for International Students</a>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/itd_student_quick_start_guide.pdf" class="btn btn-outline-success mt-2 hidden-after" target="_blank">ITD Student Guide</a>
        </div>
        <div class="col-sm-9 tab-content mt-sm-4" id="article-content">
            <div class="tab-pane fade show active" id="category-1" role="tabpanel" aria-labelledby="category-1-tab">
                <div id="accordion-1">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-1-1">
                                <h2>Pay tutorial fees</h2>
                            </a>
                        </div>
                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    According to UL regulations, international freshmen must pay a minimum of 50% of the tuition fee to receive a visa support letter. Because Chinese people must have a visa to enter Ireland, students need to pay 50% of the tuition fee in advance and apply for a visa after getting the visa support letter.
                                </p>
                                <p>
                                    You can pay for tuition fees online <a href="https://ul.studentfees.ie/studentregistration.aspx">here</a>, which is the official collecting agent for the University of Limerick. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-1-2">
                                <h2>Book campus accommodation</h2>
                            </a>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    If you plan to live in an on-campus accommodation, you need to make a reservation from the school’s <a href="https://studentliving.ul.ie/">accommodation website</a> before coming to Ireland. The accommodation application system will be opened in March every year. It is worth noting that, applications for new incoming first years are not on a first come first serve basis, so you have enough time to consider the apartment you really want to live in and submit the application before the due date of the application.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-1-3">
                                <h2>Organise medical insurance</h2>
                            </a>
                        </div>
                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    Living in Ireland requires private medical insurance. There are a number of private medical insurance companies in Ireland. UL’s official website recommends <a href="https://www.odon.ie/">O’Driscoll O’Neill</a>, and you can pay online <a href="https://ul.studentfees.ie/studentregistration.aspx">here</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-1-4">
                                <h2>Some suggestions about luggage</h2>
                            </a>
                        </div>
                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    When you are packing your luggage, do you think that you need to bring a lot of luggage to live in Ireland for a long time? In fact, it is not necessary.
                                </p>
                                <p>
                                    <b>Clothes.</b> When I went to Ireland, I took a whole suitcase of clothes, but in the end they only increased the weight of my luggage. Irish clothes are not more expensive than Chinese clothes, so I recommend bringing a small number of clothes and buying clothes locally when you need. Besides, Ireland is not very hot in summer, you can wear the same kind of clothes in spring, summer and autumn, so it is unnecessary to buy a lot of clothes.
                                </p>
                                <p>
                                    <b>Kitchenware.</b> Campus accommodation provides almost all the kitchenwares you use, so there is no need to worry about that. <a href="https://www.argos.ie/">Argos</a> is a large general merchandise retailer, and there are three in Limerick, you can buy some kitchenware you need from there, such as the knife, rice cooker, etc. Of course, if you don’t want to go shopping in the city centre as soon as you arrive in Ireland, you can bring a kitchen knife and some pairs of chopsticks from China, because they are essential for cooking and eating, and not heavy.
                                </p>
                                <p>
                                    <b>Umbrella.</b> It is best to bring an umbrella when you come to Ireland. Compared to Shandong, Ireland rains more frequently, so you may always keep an umbrella in your bag. In addition, umbrellas in Ireland are much more expensive than in China, so it is better to bring an extra as a spare.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-2" role="tabpanel" aria-labelledby="category-2-tab">
                <div id="accordion-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-2-1">
                                <h2>How to arrive at school</h2>
                            </a>
                        </div>
                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    Generally, the plane will land at Dublin Airport. After walking out of Dublin Airport, there will be a bus ticket office next to it. Find where you want to go through Google Maps in advance, and then tell the conductors.
                                </p>
                                <img src="{% static 'images/bus-ticket-office.jpg' %}" class="img-fluid">
                                <p>
                                    Regarding the way to Limerick, there are three bus companies which can travel from Dublin to Limerick, namely <a href="https://www.buseireann.ie/">Bus Eireann</a>, <a href="https://www.dublincoach.ie/">Dublin Coach</a> and <a href="https://www.eireagle.com/">Eir Eagle</a>. The bus runs for about 3 hours, and all of them have free WiFi.
                                </p>
                                <p>
                                    First is <b>Bus Eireann</b>. You can take X12 bus from Dublin Ariport directly to UL.
                                </p>
                                <p>
                                    The second is <b>Dublin Coach</b>. You can take the bus from the airport to the Burgh Quay bus stop, then take the 300 bus, which can directly to UL, too.
                                </p>
                                <p>
                                    The third is <b>Eir Eagle</b>. The bus of this company depart from Dublin Airport, but can only reach Limerick city centre. It will stop at Arthurs Quay bus stop in Limerick, you can take a taxi or take bus 391 to UL.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-2-2">
                                <h2>How to arrive at campus accommodation</h2>
                            </a>
                        </div>
                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    There are five villages for undergraduates on campus, namely Thomond Village, Cappavilla Village, Dromroe Village, Plassey Village and Kilmurry Village. There is a sign with the name written in each Village, so it is easy to find. After arriving at your village, check in at <b>Village Reception</b>.
                                </p>
                                <p>
                                    The picture below is the campus map, I will point out the locations of the five student villages.
                                </p>
                                <ul>
                                    <li>Cappavilla: 38</li>
                                    <li>Thomond: 39</li>
                                    <li>Dromroe: 26</li>
                                    <li>Plassey: 4</li>
                                    <li>Kilmurry: 24</li>
                                </ul>
                                <p>
                                    If you take the bus to UL, it will stop at the Students Centre, which is 16 on the map.
                                </p>
                                <img src="{% static 'images/campus-map.png' %}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-2-3">
                                <h2>How to connect to WiFi</h2>
                            </a>
                        </div>
                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    There is WiFi available throughout UL campus. When you connect to WiFi for the first time, you need to connect to setup_eduroam first, and then follow the prompts. After everything is ready, link the eduroam network. Click <a href="https://ulsites.ul.ie/itd/node/115031">here</a> to see how to connect to WiFi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-3" role="tabpanel" aria-labelledby="category-3-tab">
                <div id="accordion-3">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-3-1">
                                <h2>Travel in Ireland</h2>
                            </a>
                        </div>
                        <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    There are two useful websites:
                                </p>
                                <ul>
                                    <li>
                                        Travelling around Ireland: <a href="https://www.discoverireland.ie/">https://www.discoverireland.ie/</a>
                                    </li>
                                    <li>
                                        Guide of Limerick: <a href="https://www.limerick.ie/">https://www.limerick.ie/</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-2">
                                <h2>Shopping in Limerick</h2>
                            </a>
                        </div>
                        <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    There are some supermarkets I often visit:
                                </p>
                                <ul>
                                    <li>
                                        <b><a href="https://www.spar.ie/">Spar</a>:</b> Spar is a Dutch supermarket. There are two Spar near the school, one on the campus and one at the main entrance at UL. The goods in Spar are few and expensive, so it suitable for buying some snacks and urgent items. For example, for a sandwich of the same weight, Spar sells for €2.99, while Lidl only sells for €1.99.
                                    </li>
                                    <li>
                                        <b><a href="https://www.lidl.ie/">Lidl</a>:</b> Lidl is a German supermarket. It is about 3 kilometres away from the UL. It's not big, but the food is comprehensive and the price is cheap. I recommend coming here every week to buy vegetables and meat.
                                    </li>
                                    <li>
                                        <b><a href="https://www.aldi.ie/">ALDI</a>:</b> ALDI is also a German supermarket, and it is similar to Lidl, they all have cheap prices and comprehensive foods. It is about 2 kilometres away from the school.
                                    </li>
                                    <li>
                                        <b><a href="https://www.tesco.ie/">Tesco</a>:</b> Tesco is a British supermarket. It is located in Limerick city centre, which is a large supermarket with many types of goods, but the price is a little more expensive than Lidl and ALDI. It can also be purchased online and deliver to your accommodation, which is very convenient.
                                    </li>
                                    <li>
                                        <b><a href="https://supervalu.ie/">SuperValu</a>:</b> SuperValu is a supermarket chain in Ireland. It also provides delivery service, but it is more expensive than Tesco. For example, for almost identical muffins, Tesco has each of €0.95, while SuperValu has each of €2.5. In addition, I usually spent about €20 more to buy foods for a week in SuperValu than in Tesco.
                                    </li>
                                    <li>
                                        <b>Carnival Asia Supermarket:</b> It is a larger Asian supermarket in Limerick. Because the owner is Chinese, most of foods are from China. You can add the owners' WeChat when you go there first, and then just tell them what you need, they will deliver to your accommodation free.
                                    </li>
                                </ul>
                                <p>
                                    There are some famous shopping centres and supermarkets that I am not familiar with:
                                </p>
                                <ul>
                                    <li>
                                        <b><a href="http://www.parkwaysc.com/">Parkway</a>:</b> It is a shopping centre about 2.5km from UL. Usually, you will pass it when you take the 304 bus to the city centre. There is a supermarket called Dunnes in it.
                                    </li>
                                    <li>
                                        <b>Cheong Heng Hong Oriental Supermarket:</b> It is the largest Chinese supermarket in Limerick and is located in the city centre. I have never been there to buy anything, but according to the online reviews, it has a complete range of things, especially Chinese and Korean food.
                                    </li>
                                    <li>
                                        <b><a href="https://www.milkmarketlimerick.ie/">Milk Market</a>:</b> The milk market is located in the city center, which is only open on Friday, Saturday and Sunday. On Saturday, some farmers sell food from the farm.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-3">
                                <h2>Go to Limerick city centre</h2>
                            </a>
                        </div>
                        <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    No matter which student village you live in, it is always easy to take the bus to the city centre, usually take 304 or 307 route. For convenience and to save money, you can apply for Leap Card at Student Life, then you do not need to prepare coins every time you take the bus. Because the city centre is only 5 kilometres away from the school, cycling or even walking are also good choices.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-4">
                                <h2>Some questions maybe you have</h2>
                            </a>
                        </div>
                        <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <ol>
                                    <li>
                                        <b>Are there canteens in UL?</b>
                                        <br>
                                        UL does not have a canteen like SDUT, but there are many restaurants and bars on campus.
                                    </li>
                                    <li>
                                        <b>Does the apartment have a washing machine?</b>
                                        <br>
                                        Except for the 2 bedrooms apartment, there are no washing machines in the other apartment, but there are public washing machines in each village, usually near Reception.
                                    </li>
                                    <li>
                                        <b>Do I need to pay utility bills?</b>
                                        <br>
                                        No.
                                    </li>
                                    <li>
                                        <b>Can I drink the tap water directly?</b>
                                        <br>
                                        Yes. You can drink the tap water in the kitchen directly. In addition, there is also a kettle in the dormitory.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-5">
                                <h2>My impression of Ireland</h2>
                            </a>
                        </div>
                        <div id="collapse-3-5" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    This video introduces my first impression of Ireland and what I think of Ireland after living there one year.
                                </p>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k2i_VB5b4JM" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-4" role="tabpanel" aria-labelledby="category-4-tab">
                <div id="accordion-4">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-4-1">
                                <h2>Campus Introduce</h2>
                            </a>
                        </div>
                        <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                            <div class="card-body">
                                <p>
                                    UL campus is located in the northeast of Limerick, which is 5 kilometres far away from the city centre. The campus is built on both sides of River Shannon, with many trees and lawns. It is a scenic campus. There is no gates and walls in campus, so cars and buses can enter and exit at will, which is different with SDUT.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-4-2">
                                <h2>Campus Tour</h2>
                            </a>
                        </div>
                        <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                            <div class="card-body">
                                <p>
                                    This video introduces all the key buildings on the UL campus.
                                </p>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1GDtWWpKISA" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-4-3">
                                <h2>Campus Accommodation</h2>
                            </a>
                        </div>
                        <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                            <div class="card-body">
                                <ol>
                                    <li>
                                        <b>Cappavilla Village</b>
                                        <p>
                                          Cappavilla Village is located on the northeast side of the campus with a beautiful pasture behind it. It has three types of apartments, 2/4/6 bedrooms, which means that each apartment has 2, 4, or 6 bedrooms, and each bedroom lives one student. All bedrooms in Cappavilla have ensuite bathrooms, so students only share a kitchen and living room with their housemates.
                                        </p>
                                        <p>
                                            Cappavilla’s apartment is the second most expensive, but it is one of the cheapest apartments with an ensuite bathroom. The following are the full-year rental fees of different room types in Cappavilla:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,522.40
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €5,709.60
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,154.20
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Cappavilla Village.
                                        </p>
                                        <img src="{% static 'images/Cappavilla.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/C-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/C-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Thomond Village</b>
                                        <p>
                                          Thomond Village is located on the northwest side of the campus, it is almost the same as Cappavilla. It also offers 2/4/6 bedroom apartments, each room has an ensuite bathroom, and people living in the same apartment share a kitchen and living room. Even the price is the same as the Cappavilla apartment:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,522.40
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €5,709.60
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,154.20
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Thomond Village.
                                        </p>
                                        <img src="{% static 'images/Thomond.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/T-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/T-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Dromroe Village</b>
                                        <p>
                                          Dromroe Village is the most expensive apartment, it offers 2 and 6 bedrooms apartments. Each room in Dromroe has an ensuite bathroom, and students in the same apartment share a kitchen and living room. Compared to Cappavilla and Thomond, the bedroom in Dromroe is larger, the apartment is closer to school centre, and there is a pizzeria in the village.The following are the full-year rental fees of different room types in Dromroe:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,733.00
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,318.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Dromroe Village.
                                        </p>
                                        <img src="{% static 'images/Dromroe.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/D-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/D-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Plassey Village</b>
                                        <p>
                                          Plassey Village is located off-campus, at the main entrance at the University of Limerick, farthest from the school centre. It has 4 and 8 bedrooms houses, and there is only one hand basin in the bedroom. Plassey’s kitchen and living room are public, and the bathroom also need to share with other housemates.
                                        </p>
                                        <p>
                                            Plassey's room rent is the cheapest, and the following are the full-year rental fees:
                                        </p>
                                        <ul>
                                            <li>
                                                8 Bed Apartment ----- €4,387.50
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €4,914.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Plassey Village.
                                        </p>
                                        <img src="{% static 'images/Plassey.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/P-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/P-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Kilmurry Village</b>
                                        <p>
                                          Kilmurry Village is located on the east side of the school, it provides 6 and 8 bedrooms houses. Like Plassey, Kilmurry's bedroom does not have an ensuite bathroom, students need to share the kitchen, living room and bathroom with housemates. These are the full-year rental fees of Kilmurry:
                                        </p>
                                        <ul>
                                            <li>
                                                8 Bed Apartment ----- €4,890.60
                                            </li>
                                            <li>
                                                6 Bed Apartment ----- €5,265.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Kilmurry Village.
                                        </p>
                                        <img src="{% static 'images/Kilmurry.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/K-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/K-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-5" role="tabpanel" aria-labelledby="category-5-tab">
                <div id="accordion-5">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-5-1">
                                <h2>The total cost in a year</h2>
                            </a>
                        </div>
                        <div id="collapse-5-1" class="collapse show" data-parent="#accordion-5">
                            <div class="card-body">
                                <p>
                                    The following table is the data about the estimated cost of living in UL for one year, which is from the UL <a href="https://www.ul.ie/international/undergraduate-postgraduate-studies/current-students/living-ireland">official website</a>.
                                </p>
                                <img src="{% static 'images/Total Cost.png' %}" class="img-fluid">
                                <p>
                                    According to my experience living in Ireland, the estimated price on this table is accurate. However, if you want to save money, the cost can be much lower than it.
                                </p>
                                <p>
                                    The first is accommodation. The cheapest accommodation on campus is €4,387.50, while it is cheaper to live off campus, some only cost €3,000. The second is food. Cooking by yourself is the most economical, it costs about €40-60 per week to buy materials from the market. If you buy the airfare in advance, the price of one can be as low as €400. As for the cost of clothes, it is not necessary, so the budget is up to €300. Based on the estimated cost above, living in Ireland just need to cost €8,000 for a year. This price is caculated on a one-year basis, if you just stay in Ireland during the academic year, €7,000 is enough.
                                </p>
                                <p>
                                    The <a href="https://ulsites.ul.ie/finance/sites/default/files/Fees%20Booklet%202020-21%20PDF.pdf">tuition fee</a> of BSc Computer Systems for non-EU students if €16,465 per year, so the total cost of studying at UL for one year is approximately €25,000.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-5-2">
                                <h2>BSc Computer Systems</h2>
                            </a>
                        </div>
                        <div id="collapse-5-2" class="collapse" data-parent="#accordion-5">
                            <div class="card-body">
                                <p>
                                    When you go to UL, the major you learn is Computer System. Although the name is a little different, the content of the module is similar.
                                </p>
                                <p>
                                    The course in UL is divided into lecture, tutorial and lab. The lecture is a formal class. The tutorial is also a class, but it will talk about some exercises. The lab is the teacher assigns tasks, and then the students complete them by themselves. Almost all courses have these three, but some courses do not have lab.
                                </p>
                                <p>
                                    Regarding modules, 3+1+1 students can choose their own modules, while modules of 2+2 are arranged by the school, so here is a table to show two-year modules for 2+2 students. Click on the module code to view details of the module.
                                </p>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr scope='col'>
                                            <th>Year 3 - Semester 1</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144441&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4004</a> - Software Testing and Inspection</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144442&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4178</a> - Software Requirements and Modelling</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144444&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4187</a> - Professional Issues in Computing</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144443&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4416</a> - Database System</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144445&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4457</a> - Project Management and Practice</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr scope='col'>
                                            <th>Year 3 - Semester 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144446&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4084</a> - Mobile Application Development</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144448&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4106</a> - Machine Learning: Methods and Application</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144449&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4116</a> - Software Development Project</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144450&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4815</a> - Computer Graphics</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144447&parId=C1109AFEBEFAC040%21144440&o=OneUp">MA4413</a> - Statistics for Computing</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr scope='col'>
                                            <th>Year 4 - Semester 1</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144452&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4011</a> - Advanced Programming Concepts and Practices</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144451&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4125</a> - Systems Analysis and Design</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144453&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4287</a> - Neural Computing</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144456&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4337</a> - Big Data Management and Security</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr scope='col'>
                                            <th>Year 4 - Semester 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144454&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4158</a> - Software Design and Architecture</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144455&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4168</a> - Data Mining</td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://onedrive.live.com/?authkey=%21ANQNwkScP5wRkWA&cid=C1109AFEBEFAC040&id=C1109AFEBEFAC040%21144457&parId=C1109AFEBEFAC040%21144440&o=OneUp">CS4227</a> - Software Design and Architecture</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-5-3">
                                <h2>Why choose UL</h2>
                            </a>
                        </div>
                        <div id="collapse-5-3" class="collapse" data-parent="#accordion-5">
                            <div class="card-body">
                                <p>
                                    These are the benefits of Chinese students studying abroad:
                                </p>
                                <ol>
                                    <li>
                                        <b>Easier to Find A Job</b>
                                        <p>
                                            According to Zhaopin statistics, 70.7% of international students can find a job within 3 months after returning to China.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Higher Salary</b>
                                        <p>
                                            According to Zhaopin statistics, 46% of returning overseas students have a monthly salary of 6000-8000 CNY, while 53% of domestic students only have a monthly salary of 2000-4000 CNY.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Acquire knowledge</b>
                                        <p>
                                            The West is still ahead of China in some areas such as Artificial Intelligence and Data Science.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Support Chinese Companies</b>
                                        <p>
                                            English is the language of international business collaborates with companies in the West.
                                        </p>
                                    </li>
                                </ol>
                                <p>
                                    These are the advantages of UL:
                                </p>
                                <ol>
                                    <li>
                                        <b>Good Education</b>
                                        <p>
                                            UL is ranked 500 in the world.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Top-class Sports Facility</b>
                                        <p>
                                            There are over 60 acres of outdoor pitches in UL, and the indoor facility is top-class. The arena has a gym and a competition-level swimming pool.
                                        </p>
                                    </li>
                                    <li>
                                        <b>On-campus Accommodation</b>
                                        <p>
                                            There are six student villages on the campus and providing more than 2500 rooms. Students can live on campus when they come to Ireland firstly.
                                        </p>
                                    </li>
                                    <li>
                                        <b>Low Economic Pressure</b>
                                        <p>
                                            Limerick is one of the most affordable cities in Ireland for student living.
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 nav flex-column nav-pills mt-sm-4" id="article-tab" role="tablist" aria-orientation="vertical">
            <br>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/Campus_Map.pdf" class="btn btn-outline-success hidden-before" target="_blank">UL Campus Map</a>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/Top%20Tips%20for%20International%20Students.pdf" class="btn btn-outline-success mt-2 hidden-before" target="_blank">Top Tips for International Students</a>
            <a href="https://www.ul.ie/international/sites/default/files/user_media/uploads/itd_student_quick_start_guide.pdf" class="btn btn-outline-success mt-2 hidden-before" target="_blank">ITD Student Guide</a>
        </div>
      </div>
    </div>

    <!--页脚-->
    
  </body>
</html>