{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FYP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--移动设备友好-->
    <link rel="stylesheet" href="static/css/HomePage.css">
    <link rel="stylesheet" href="static/css/Header.css">
    <link rel="stylesheet" href="static/css/Articles.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--导航栏-->
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
      <a class="navbar-brand">FYP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <!--导航按钮-->
        <ul class="navbar-nav mr-auto ml-md-4">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum' %}">Forum</a>
          </li>
        </ul>
        <!--搜索-->
        <form class="form-inline my-2">
          <input class="form-control mr-2 col-6 col-md-8" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!--主体-->
    <div class="header">
      <h1>UL Introduction</h1>
    </div>

    <!--轮播-->
    <div id="roll" class="carousel slide" data-ride="carousel">
      <!--指示符-->
      <ul class="carousel-indicators">
        <li data-target="#roll" data-slide-to="0" class="active"></li>
        <li data-target="#roll" data-slide-to="1"></li>
        <li data-target="#roll" data-slide-to="2"></li>
      </ul>
      <!--图片-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#">
            <div id="img_1"></div>
            <div class="carousel-caption d-block">
              <h4>Thomond Village</h4>
              <p>This is the first article.</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <div id="img_2"></div>
            <div class="carousel-caption d-block">
              <h4>Cappavilla Village</h4>
              <p>This is the second article.</p>
            </div>
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <div id="img_3"></div>
            <div class="carousel-caption d-block">
              <h4>Dromroe Village</h4>
              <p>This is the third article.</p>
            </div>
          </a>
        </div>
      </div>
      <!--左右切换按钮-->
      <a class="carousel-control-prev" href="#roll" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#roll" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!--文章-->
    <div class="container category mb-4">
      <h2 id="category">Category</h2>
      <div class="row">
        <div class="col-sm-3 nav flex-column nav-pills mt-sm-4" id="article-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="category-1-tab" data-toggle="pill" href="#category-1" role="tab" aria-controls="category-1" aria-selected="true">Before You Arrive</a>
            <a class="nav-link" id="category-2-tab" data-toggle="pill" href="#category-2" role="tab" aria-controls="category-2" aria-selected="false">After You Arrive</a>
            <a class="nav-link" id="category-3-tab" data-toggle="pill" href="#category-3" role="tab" aria-controls="category-3" aria-selected="false">Life in Ireland</a>
            <a class="nav-link" id="category-4-tab" data-toggle="pill" href="#category-4" role="tab" aria-controls="category-4" aria-selected="false">UL Campus</a>
        </div>
        <div class="col-sm-9 tab-content mt-4" id="article-content">
            <div class="tab-pane fade show active" id="category-1" role="tabpanel" aria-labelledby="category-1-tab">
                <div id="accordion-1">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-1-1">
                                <h2>What you have to do</h2>
                            </a>
                        </div>
                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    Please refer to the <a href="https://www.ul.ie/international/you-arrive">Before You Arrive</a> page of UL's official website, which has the latest requirements of the school.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-1-2">
                                <h2>Some suggestions about luggage</h2>
                            </a>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    When you are packing your luggage, do you think that you need to bring a lot of luggage to live in Ireland for a long time? In fact, it is not necessary.
                                </p>
                                <p>
                                    <b>Clothes.</b> When I went to Ireland, I took a whole suitcase of clothes, but in the end they only increased the weight of my luggage. Irish clothes are not more expensive than Chinese clothes, so I recommend bringing a small number of clothes and buying clothes locally when you need. Besides, Ireland is not very hot in summer, you can wear the same kind of clothes in spring, summer and autumn, so it is unnecessary to buy a lot of clothes.
                                </p>
                                <p>
                                    <b>Kitchenware.</b> Campus accommodation provides almost all the kitchenwares you use, so there is no need to worry about that. If you don’t want to buy them in Ireland, it is a good choice to bring a kitchen knife and a few pairs of chopsticks from China. If you like rice, you can bring a small rice cooker. Other kitchenwares are not needed to bring.
                                </p>
                                <p>
                                    <b>Umbrella.</b> It is best to bring an umbrella when you come to Ireland. Compared to Shandong, Ireland rains more frequently, so you may always keep an umbrella in your bag. In addition, umbrellas in Ireland are much more expensive than in China, so it is better to bring an extra as a spare.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-2" role="tabpanel" aria-labelledby="category-2-tab">
                <div id="accordion-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-2-1">
                                <h2>How to arrive at school</h2>
                            </a>
                        </div>
                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    Generally, the plane will land at Dublin Airport. After walking out of Dublin Airport, there will be a bus ticket office next to it. Find where you want to go through Google Maps in advance, and then tell the conductor.
                                </p>
                                <img src="{% static 'images/bus-ticket-office.jpg' %}" class="img-fluid">
                                <p>
                                    Regarding the bus route, you can take the route 41 bus from Dublin Airport to the <b>O'Connell Bridge</b>, and then take the route 300 directly to UL.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-2-2">
                                <h2>How to arrive at campus accommodation</h2>
                            </a>
                        </div>
                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    There are five villages for undergraduates on campus, namely Thomond Village, Cappavilla Village, Dromroe Village, Plassey Village and Kilmurry Village. There is a sign with the name written in each Village, so it is easy to find. After arriving at your village, check in at <b>Village Reception</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-2-3">
                                <h2>What you have to do</h2>
                            </a>
                        </div>
                        <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    Please refer to the <a href="https://www.ul.ie/international/after-you-arrive">After You Arrive</a> page of UL's official website, which has some things you need to do after you arrive at school.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-3" role="tabpanel" aria-labelledby="category-3-tab">
                <div id="accordion-3">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-3-1">
                                <h2>Travel in Ireland</h2>
                            </a>
                        </div>
                        <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    There are two useful websites:
                                </p>
                                <ul>
                                    <li>
                                        Travelling around Ireland: <a href="https://www.discoverireland.ie/">https://www.discoverireland.ie/</a>
                                    </li>
                                    <li>
                                        Guide of Limerick: <a href="https://www.limerick.ie/">https://www.limerick.ie/</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-2">
                                <h2>Shopping in Limerick</h2>
                            </a>
                        </div>
                        <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    There are some supermarkets I often visit:
                                </p>
                                <ul>
                                    <li>
                                        <b>Spar:</b> There are two Spar near the school, one on the campus and one at the entrance of the campus. The goods in Spar are few and expensive, so it suitable for buying some snacks and urgent items.
                                    </li>
                                    <li>
                                        <b>Lidl:</b> Lidl is about 3 kilometres away from the school. It's not big, but the food is full and the price is cheap. I recommend coming here every week to buy vegetables and meat.
                                    </li>
                                    <li>
                                        <b>ALDI:</b> ALDI is about 2 kilometres away from the school. It is similar to Lidl. You can choose one of them to buy food for every week.
                                    </li>
                                    <li>
                                        <b>Tesco:</b> Tesco is in Limerick city centre, which is a large supermarket with many types of goods, but the price is more expensive than Lidl and ALDI. It can also be purchased online and delivered to your accommodation, which is very convenient.
                                    </li>
                                    <li>
                                        <b>SuperValu:</b> SuperValu is near the Lidl, which also provides delivery service, but it is more expensive than Tesco. If Tesco is booked full, you can choose SuperValu.
                                    </li>
                                    <li>
                                        <b>Carnival Asia Supermarket:</b> It is a larger Asian supermarket in Limerick. Because the owner is Chinese, most of foods are from China. You can add the owners' WeChat when you go there first, and then just tell them what you need, they will deliver to your accommodation free.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-3">
                                <h2>Go to Limerick city centre</h2>
                            </a>
                        </div>
                        <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <p>
                                    No matter which student village you live in, it is always easy to take the bus to the city centre, usually take 304 or 307 route. For convenience and to save money, you can apply for Leap Card at Student Life, then you do not need to prepare coins every time you take the bus. Because the city centre is only 5 kilometres away from the school, cycling or even walking are also good choices
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-3-4">
                                <h2>Some questions maybe you have</h2>
                            </a>
                        </div>
                        <div id="collapse-3-4" class="collapse" data-parent="#accordion-3">
                            <div class="card-body">
                                <ol>
                                    <li>
                                        <b>Are there canteens in UL?</b>
                                        <br>
                                        UL does not have a canteen like SDUT, but there are many restaurants and bars on campus.
                                    </li>
                                    <li>
                                        <b>Does the dormitory have a washing machine?</b>
                                        <br>
                                        Except for the 2 bedroom apartment, there are no washing machines in the other dormitories, but there are public washing machines in the village, usually near Reception.
                                    </li>
                                    <li>
                                        <b>Do I need to pay utility bills?</b>
                                        <br>
                                        No.
                                    </li>
                                    <li>
                                        <b>Can I drink the tap water directly?</b>
                                        <br>
                                        Yes. You can drink the tap water in the kitchen directly. In addition, there is also a kettle in the dormitory.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="category-4" role="tabpanel" aria-labelledby="category-4-tab">
                <div id="accordion-4">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link text-dark" data-toggle="collapse" href="#collapse-4-1">
                                <h2>Campus Accommodation</h2>
                            </a>
                        </div>
                        <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                            <div class="card-body">
                                <ol>
                                    <li>
                                        <b>Cappavilla Village</b>
                                        <p>
                                          Cappavilla Village is located on the northeast side of the campus with a beautiful pasture behind it. It has three types of apartments, 2/4/6 bedrooms, which means that each apartment has 2, 4, or 6 bedrooms, and each bedroom lives one student. All bedrooms in Cappavilla have ensuite bathrooms, so students only share a kitchen and living room with their housemates.
                                        </p>
                                        <p>
                                            Cappavilla’s apartment is the second most expensive, but it is one of the cheapest apartments with an ensuite bathroom. The following are the full-year rental fees of different room types in Cappavilla:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,522.40
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €5,709.60
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,154.20
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Cappavilla Village.
                                        </p>
                                        <img src="{% static 'images/Cappavilla.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/C-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/C-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Thomond Village</b>
                                        <p>
                                          Thomond Village is located on the northwest side of the campus, it is almost the same as Cappavilla. It also offers 2/4/6 bedroom apartments, each room has an ensuite bathroom, and people living in the same apartment share a kitchen and living room. Even the price is the same as the Cappavilla apartment:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,522.40
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €5,709.60
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,154.20
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Thomond Village.
                                        </p>
                                        <img src="{% static 'images/Thomond.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/T-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/T-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Dromroe Village</b>
                                        <p>
                                          Dromroe Village is the most expensive apartment, it offers 2 and 6 bedrooms apartments. Each room in Dromroe has an ensuite bathroom, and students in the same apartment share a kitchen and living room. Compared to Cappavilla and Thomond, the bedroom in Dromroe is larger, the apartment is closer to school centre, and there is a pizzeria in the village.The following are the full-year rental fees of different room types in Dromroe:
                                        </p>
                                        <ul>
                                            <li>
                                                6 Bed Apartment ----- €5,733.00
                                            </li>
                                            <li>
                                                2 Bed Apartment ----- €6,318.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Dromroe Village.
                                        </p>
                                        <img src="{% static 'images/Dromroe.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/D-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/D-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Plassey Village</b>
                                        <p>
                                          Plassey Village is located off-campus, at the main entrance at the University of Limerick, farthest from the school centre. It has 4 and 8 bedrooms houses, and there is only one hand basin in the bedroom. Plassey’s kitchen and living room are public, and the bathroom also need to share with other housemates.
                                        </p>
                                        <p>
                                            Plassey's room rent is the cheapest, and the following are the full-year rental fees:
                                        </p>
                                        <ul>
                                            <li>
                                                8 Bed Apartment ----- €4,387.50
                                            </li>
                                            <li>
                                                4 Bed Apartment ----- €4,914.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Plassey Village.
                                        </p>
                                        <img src="{% static 'images/Plassey.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/P-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/P-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                    <li>
                                        <b>Kilmurry Village</b>
                                        <p>
                                          Kilmurry Village is located on the east side of the school, it provides 6 and 8 bedrooms houses. Like Plassey, Kilmurry's bedroom does not have an ensuite bathroom, students need to share the kitchen, living room and bathroom with housemates. These are the full-year rental fees of Kilmurry:
                                        </p>
                                        <ul>
                                            <li>
                                                8 Bed Apartment ----- €4,890.60
                                            </li>
                                            <li>
                                                6 Bed Apartment ----- €5,265.00
                                            </li>
                                        </ul>
                                        <p>
                                            There are some pictures of Kilmurry Village.
                                        </p>
                                        <img src="{% static 'images/Kilmurry.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/K-LivingRoom.jpg' %}" class="img-fluid">
                                        <img src="{% static 'images/K-BedRoom.jpg' %}" class="img-fluid">
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapse-4-2">
                                <h2>Campus Map</h2>
                            </a>
                        </div>
                        <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                            <div class="card-body">
                                <p>
                                    The picture below is the campus map, I will point out the locations of the five student villages.
                                </p>
                                <ul>
                                    <li>Cappavilla: 38</li>
                                    <li>Thomond: 39</li>
                                    <li>Dromroe: 26</li>
                                    <li>Plassey: 4</li>
                                    <li>Kilmurry: 24</li>
                                </ul>
                                <img src="{% static 'images/campus-map.png' %}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!--页脚-->
    
  </body>
</html>