{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--移动设备友好-->
        <link rel="stylesheet" href="static/css/Header.css">
        <link rel="stylesheet" href="static/css/Forum.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/2.5.4/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--导航栏-->
        <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <a class="navbar-brand">FYP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!--导航按钮-->
                <ul class="navbar-nav mr-auto ml-md-4 my-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'photos' %}">Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                </ul>
                <!--登录/登出-->
               <ul class="navbar-nav navbar-right mr-4 ml-md-4">
                   <!--根据Cookie判断是否登录，登录就显示-->
                   {% if cookie != '' %}
                   <li class="nav-item mr-2">
                       <a class="nav-link" href="{% url 'my_post' %}">My Post</a>
                   </li>
                   {% endif %}
                    <li class="nav-item">
                        <!--根据Cookie判断是否登录，未登录就显示Login，登录就显示头像-->
                        {% if cookie != '' %}
                        <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}" >Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <!--主体-->
        <div class="header">
            <h1>My Post</h1>
        </div>
        <!--我的帖子-->
        <div class="container">
            <div class="posts mt-4">
                {% for post in posts %}
                <div class="media">
                    <div class="media-body">
                        <a href="{% url 'post' %}?id={{post.id}}"><h4>{{post.post_title}}</h4></a>
                        <p>{{post.post_content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>