{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>FYP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--移动设备友好-->
  <link rel="stylesheet" href="static/css/Header.css">
  <link rel="stylesheet" href="static/css/Photos.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/2.5.4/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>

<body>
  <!--导航栏-->
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <a class="navbar-brand">FYP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!--导航按钮-->
      <ul class="navbar-nav mr-auto ml-md-4 my-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'photos' %}">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum' %}">Forum</a>
        </li>
    </ul>
    </div>
  </nav>

  <!--主体-->
  <div class="header">
    <h1>Photos</h1>
  </div>
            <h2 class="category">University of Limerick</h2>
            <div class="row masonry">
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-13.jpg' %}" class="img-fluid">
                <p class="remark">Sports Field</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-7.jpg' %}" class="img-fluid">
                <p class="remark">Sports Field</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-8.jpg' %}" class="img-fluid">
                <p class="remark">Sports Centre</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-9.jpg' %}" class="img-fluid">
                <p class="remark">Foundation Building</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-10.jpg' %}" class="img-fluid">
                <p class="remark">The Living Bridge</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-15.jpg' %}" class="img-fluid">
                <p class="remark">Sports Centre</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-16.jpg' %}" class="img-fluid">
                <p class="remark">Sports Centre</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Computer Science Building.png' %}" class="img-fluid">
                <p class="remark">Computer Science Building</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Kemmy Business School.jpg' %}" class="img-fluid">
                <p class="remark">Kemmy Business School</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-23.jpg' %}" class="img-fluid">
                <p class="remark">Bus Stop</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Student Centre.jpg' %}" class="img-fluid">
                <p class="remark">Student Centre</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Stables.jpg' %}" class="img-fluid">
                <p class="remark">Stables</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Campus-24.jpg' %}" class="img-fluid">
                <p class="remark">Foundation Building</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Library-1.jpg' %}" class="img-fluid">
                <p class="remark">Library</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Library-3.jpg' %}" class="img-fluid">
                <p class="remark">Library</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/BROWN THOMAS.jpg' %}" class="img-fluid">
                <p class="remark">Brown Thomas</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Main Building.jpg' %}" class="img-fluid">
                <p class="remark">Main Building</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Students-1.jpg' %}" class="img-fluid">
                <p class="remark">Main Building</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Cappavilla-1.jpg' %}" class="img-fluid">
                <p class="remark">Cappavilla Village</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Dromroe-1.jpg' %}" class="img-fluid">
                <p class="remark">Dromroe Village</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Thomond-1.jpg' %}" class="img-fluid">
                <p class="remark">Thomond Village</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Kilmurry-3.jpg' %}" class="img-fluid">
                <p class="remark">Kilmurry Village</p>
              </div>
              <div class="col-lg-3 col-md-6 mt-2 item">
                <img src="{% static 'images/Plassey.jpg' %}" class="img-fluid">
                <p class="remark">Plassey Village</p>
              </div>
            </div>
          <h2 class="category">Limerick City</h2>
              <div class="row masonry">
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-1.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-2.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-4.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-6.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-7.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-8.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-9.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-10.jpg' %}" class="img-fluid">
                  <p class="remark">St. Mary's Cathedral</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-11.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-12.jpg' %}" class="img-fluid">
                  <p class="remark">Lidl</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-13.jpg' %}" class="img-fluid">
                  <p class="remark">ALDI</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-15.jpg' %}" class="img-fluid">
                  <p class="remark">King John's Castle</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-16.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-17.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-18.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-20.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-21.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
                <div class="col-lg-3 col-md-6 mt-2 item">
                  <img src="{% static 'images/Limerick-22.jpg' %}" class="img-fluid">
                  <p class="remark">City Centre</p>
                </div>
              </div>
        <script>
          $('.masonry').masonry({
            itemSelector: '.item',
          });
        </script>
</body>

</html>