{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!--移动设备友好-->
        <link rel="stylesheet" href="static/css/Header.css">
        <link rel="stylesheet" href="static/css/Post.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/2.5.4/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--导航栏-->
        <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <a class="navbar-brand">FYP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!--导航按钮-->
                <ul class="navbar-nav mr-auto ml-md-4 my-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'photos' %}">Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                </ul>
                <!--登录/登出-->
                <ul class="navbar-nav navbar-right mr-4 ml-md-4">
                    <!--根据Cookie判断是否登录，登录就显示-->
                   {% if cookie != '' %}
                   <li class="nav-item mr-2">
                       <a class="nav-link" href="{% url 'my_post' %}">My Post</a>
                   </li>
                   {% endif %}
                    <li class="nav-item">
                        <!--根据Cookie判断是否登录，未登录就显示Login，登录就显示头像-->
                        {% if cookie != '' %}
                        <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}" >Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <!--主体-->
        <div class="header">
            <h1>Post</h1>
        </div>
        <div class="container">
            <!--帖子主体-->
            <h2 class="title">{{post.post_title}}</h2>
            <p class="info"><b>User:</b> {{user.user_name}}&nbsp;&nbsp;&nbsp;<b>Topic:</b> {{post.post_topic}}&nbsp;&nbsp;&nbsp;<b>Time:</b> {{post.post_time}}</p>
            <p class="content">{{post.post_content}}</p>
            <!--如果是登录者的帖子，就显示delete和edit按钮-->
            {% if user.user_email == status %}
            <div class="row">
                <div class="col-sm-1 col-2">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#edit">Edit</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#delete">Delete</button>
                </div>
            </div>
            {% endif %}
            <!--如果是管理员，就显示delete按钮-->
            {% if user_type == 1 %}
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#delete">Delete</button>
                </div>
            </div>
            {% endif %}
            <!--Edit提示框-->
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editTitle">Edit this post</h5>
                    </div>
                    <div class="modal-body"><form action="" method="post">{% csrf_token %}<div class="form-group"><label for="postTitle">Title</label><input type="text" name="title" class="form-control" id="postTitle" value="{{post.post_title}}"></div><div class="form-group"><label for="postContent">Content</label><textarea class="form-control" name="content" id="postContent" rows="13">{{post.post_content}}</textarea></div><button type="submit" class="btn btn-primary float-right" name="editBtn" value="edit">Submit</button></form></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
            </div>
            <!--Delete提示框-->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteTitle">Delete this post</h5>
                    </div>
                    <div class="modal-body">Do you want to delete this post? It cannot be unrecoverable after deletion.</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <a href="{% url 'delete_post' %}?id={{post.id}}"><button type="button" class="btn btn-primary">Yes</button></a>
                    </div>
                  </div>
                </div>
            </div>
            
            <h4>Comment</h4>
            <!--根据Cookie判断是否登录，登录就显示发表评论-->
            {% if cookie != '' %}
            <form class="comment" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="comment" id="postComment" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right comment-btn" name="commentBtn" value="comment">Submit</button>
            </form>
            {% endif %}
            <!--显示评论-->
            <div class="comments">
                {% for comments in post_comments %}
                <div class="media comment_list">
                    <div class="media-body">
                        {% for user in users %}
                            {% if user.user_email == comments.user_email %}
                                <h5>{{user.user_name}}</h5>
                                <p>{{comments.comment_content}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>